@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
    
 .boton {
    background-color: rgb(0, 0, 0);
    background-color: #000 !important; /* Negro */
    border-color: #000 !important; /* Bordes negros */
    opacity: 100% !important; /* Elimina la opacidad que normalmente se aplica */
 }

 nav{
   background-color: black;
   position: sticky !important;
   top:0;
   left: 0;
   z-index: 2;
 }

.button_header{
   background-color: #1d6b9c;
   color:white;
   border-color:rgb(112, 140, 173);
}

.button_header:hover{
   background-color: #1d6b9c;
   text-shadow: none;
   text-decoration:solid;
}

.img-cardd{
   height: 50%;
   max-height: 50%;

}


.text-with-shadow{
   text-shadow: 2px 2px 2px black;
}

.body_card{
   overflow:none;
}

h5{
   color:rgb(73, 135, 206);
   text-shadow: white;
}

h2{
   color:rgb(73, 135, 206);
   font-size: 40px;
}

.margin-left-card{
   margin-left: 1%;
}

.feature-animation{
   /*visibility: hidden;*/
   opacity: 0;
   animation: appearing 1s linear forwards;
   animation-timeline: view();
   animation-range: entry 30% cover 40%;
   animation-direction: normal;
   background-color: white
}

.mt-8{
   margin-top:8rem;
}

@keyframes appearing{
   0%{
      opacity: 0;
      transform:translateX(200px);
      box-shadow: 0;
      scale:.2
   }

   100%{
      opacity: 1;
      box-shadow: 1;
      transform: translateX(0);
      scale: 1 ;
   }
}

.portada {
   position: relative;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 90vh;
   overflow: hidden;
}

.portada::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url("../img/portada-cv.jpg");
   background-size: cover;
   background-position: center;
   opacity: 1;
   animation: image-fade 13s ease-in-out infinite;
 }

 .contenido-header{
   z-index: 1;
   position: relative;
 }
 
 @keyframes image-fade {
   0% {
     opacity: 1;
     background-image: url("../img/portada-cv.jpg");
   }
   25% {
     /*opacity: 0.8;*/
     background-image: url("../img/portada-cv.jpg");
   }
   50% {
     opacity: 1;
     background-image: url("../img/portada-entrevista.jpg");
   }
   75% {
     /*opacity: 0.8;*/  
     background-image: url("../img/portada-entrevista.jpg");
   }
   100% {
     opacity: 1;
     background-image: url("../img/portada-cv.jpg");
   }
 }

 .word {
   font-weight: bolder;
   font-family: monospace;                
   font-size: 40px;
   overflow: hidden;
   white-space: nowrap;
   line-height: 1;
   animation: typing 5s steps(8, end) 0s infinite,
              fadeOut 0s ease 5s infinite;
 }

 .word::after {
   overflow:visible !important;
   display: block;
   content: "";
   position:relative;
   width: 1ch;
   height: 3px;
   bottom: 0;
   left: 0;
   background-color: white ;
   animation: blink_border 1s infinite step-end, translate-x 5s steps(8, end)  infinite; 
}
 
 @keyframes typing {
   0%{ 
      width: 0; 
   }
   40%  { 
      width: 8ch; 
   }
   100% {
      width: 8ch;
   }
 }
 
 @keyframes fadeOut {
   0%, 80% { 
      opacity: 1; 
   }                
   100% { 
      opacity: 0; 
   }                   
 }

 @keyframes blink_border {
   50%{
      background-color: transparent;
   }
 }

 @keyframes translate-x {
   0%{ 
      transform: translateX(0ch); 
   }
   40%  { 
      transform: translateX(7ch); 
   }
   100% {
      transform: translateX(7ch); 
   }

 }